<!-- This is a place to add a snippet to the homepage. Any cartoon or drawing or experiment I want to put. -->

<h2 style="text-align: center">Snippet on Spotlight</h2>
<hr>

<!-- <script src="https://cdn.jsdelivr.net/npm/p5@0.10.2/lib/p5.js"></script>
<script src="snippets/fun/draw_line.js"></script> -->

<!-- <div id="sketch-1" class="canvas"></div> -->

<img src="snippets/2020-6-9-money-and-pennies.png" alt="">

<h1 style="text-align:center;">⋯</h1>

<h2>✔ Also Check Out:</h2>
<ul>
  <li><a href="{{ '/tag/words' | prepend: site.baseurl }}">Word of the Week</a></li>
  <li><a href="{{ '/tag/howto' | prepend: site.baseurl }}">'How To' for Data Science</a></li>
  <li><a href="{{ '/tag/summary' | prepend: site.baseurl }}">Research Paper Summaries</a></li>
</ul>

<h1 style="text-align:center;">⋯</h1>
<br>
